body, html {
	text-align: center;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	background: black;
	color: white;
}

#App {
	height: 90%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}

#temp {
	font-size: 4em;
}

#city {
	font-size: 2em;
}

img {
	width: 75%;
}

button {
	background: white;
}

#midbox {
	border-radius: 24px;
	border-width: 6px;
	border-style: solid;
	padding: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
}

#botbox {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	align-items: center;
	justify-content: center;
}